@CHARSET "UTF-8";

/* table 기본설정(입력(수정)폼/리스트) ***********************************************************************************************************************************/
table.tp_form1      {  }
table.tp_form1 td   { border:1px solid #DADADA; }
table.tp_form1 td.formhead80 { width:105px; padding:3px 0 0 5px; color:#505050; background:#ddd; }
table.tp_form1 td.formhead1 { width:110px; padding:3px 0 0 10px; color:#505050; background:#ddd; }
table.tp_form1 td.formhead2 { width:110px; padding:3px 0 0 8px; color:#505050; background:#ddd; }
table.tp_form1 td.formhead3 { width:80px; padding:3px 0 0 5px; color:#505050; background:#ddd; }
table.tp_form1 td.formhead4 { width:110px; padding:3px 0 0 5px; color:#505050; background:#ddd; }
table.tp_form1 td.addhead   { width:100px; padding:3px 0 0 0px; color:#505050; background:#ddd; }
table.tp_form1 td.list0 { background:#FFFFFF; border-top:1px solid #505050; border-left:1px solid #FFFFFF; border-right:1px solid #FFFFFF; border-bottom:1px solid #FFFFFF; }
table.tp_form1 td.statelist0    { background:#FFFFFF; border-top:1px solid #505050; border-left:1px solid #FFFFFF; border-right:1px solid #FFFFFF; border-bottom:1px solid #FFFFFF; }

table.tp_list1      { border:1px solid #DADADA; }
table.tp_form1 tr     {width:1180px;height:30px;  }
table.tp_list1 th.listhead1 { text-align:center; padding:3px 0 0 0; font-weight:bold;  color:#505050; font-size: 11px;background:#ddd;}
table.tp_list1 th.listhead0 { text-align:center; padding:3px 0 0 0; ; font-weight:bold;   color:#505050;  background:#ddd; }
table.tp_list1 td.list1 { background:#FFFFFF; border-top:1px solid #DADADA; text-align:center; }
table.tp_list1 td.list0 { background:#FFFFFF; border-top:1px solid #DADADA; text-align:center;}
table.tp_list1 td.memo0 { border-top:1px solid #FFFFFF; border-left:1px solid #FFFFFF; border-right:1px solid #FFFFFF; border-bottom:1px solid #FFFFFF;color:#ffffff; background:#ddd; }


#search_input{width:99%;} 
/*등록*/
#noti_regi{width:100%x;margin:0 auto;}
noti_regi_sub{width:100%x;padding-left: 200px;}
.noti_regi_input{width:250px;color:#ddd;}
#noti_regi label{display:inline-block;width:100px;}
.btn{background-color:#003399;cursor : pointer;color:#fff;width:100px;height:40px;}

.noti_regi_btn{width:100px;}
#noti_btn_regi{width:300px;margin:0 auto;}








